################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gruppe15_Opgave_2_GUI/.vs/Gruppe15_Opgave_2_GUI/v15/Server/sqlite3
